/* Globales*/
:root {
    --white: #fff;
    --colorChatNormal: #ffffff;
    --colorLineasSeparacion: #bec1bb;
    --fondoChat: #e8ebe4;
    --buttonChatFondo:#bec1bb;
    --buttonChat: #b0a0d8;
    --location-color:#707070;
    --colorLetra: #1b1f3b;
    --colorLetraFondoChat:#1b1f21;
    --medium-s:300;
    --medium-m:400;
    --medium-l:500;
    --medium-xl:700;
}
header, footer {
    display: none;
}

body{
    background-color: var(--white);
    color: var(--colorLetraFondoChat);
    font-weight:var(--medium-xl);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    font-style: normal;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.contenedorPadre{
    display: flex;
    flex: 100%;
}

.menu{
    display:flex ;
    background-color: var(--white);
    color: var(--colorLetraFondoChat);
    flex: 20%;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}

.imgreceptor{
    border-radius: 50%;
    height: 40px;
    width:  40px;
    object-fit: cover;
    transition: transform 0.15s;
}

.botonesChat{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-self: center;
}

.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border: 1px solid var(--colorLineasSeparacion);
}

.chatNuevo{
    background-color: var(--buttonChat);
    color: var(--white);
    padding: 20px 80px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.4s ease-in;
    font-size: 16px;
}

.chatNuevo:hover{
    background-color: var(--buttonChat);
}

.chatNuevo:focus{
    background-color: var(--buttonChatFondo);
    color: var(--white);
}
